@title_text_size: 32px;
@menu_text_size:  24px;
@header_bg: darken(@bg, 6%);
@header_fg: #222222;

body {
    min-width: 350px;
}

#column_container {
    max-width: none !important;
}

.column {
    float: none !important;
    width: inherit !important;
}

#navigation {
    border-right: none;
    // border-bottom: 1px solid fadeout(black, 60%);
}

#main_menu {
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: black;
    display: block;
}

#nav_toggle {
    font-size: @title_text_size;

    background: @header_bg;
    color:      @header_fg;

    border-bottom: 1px solid fadeout(black, 90%);

    span {
        display: inline-block;
        height: 100%;
    }
}

#nav_toggle_icon {
    .appearance_none;

    height: @title_text_size;
    width:  @title_text_size;

    // float: right;

    img {
        position: relative;
        top: 2px;
    }
}

#navigation {
    .tab {
        font-size: @menu_text_size;
    }
}

#title {
    display: none !important;
}

.menu_collapsed {
    display: none !important;
}

#expense_form {
    font-size: 100%;
}
