@palette_1: #75507b; // plum
@palette_2: #cc0000; // scarlet red
@palette_3: #4e9a06; // chameleon
@palette_4: #edd400; // butter
@palette_5: #3465a4; // sky blue
@palette_6: #f57900; // orange
@palette_7: #c17d11; // chocolate
@palette_8: #babdb6; // aluminium

.colorLooper(@index) when (@index > 0) {
    @color: ~"palette_@{index}";

    .color_@{index}.true {
        background: @@color;
    }

    .color_@{index}.color_left {
        border-left: 6px solid @@color;
    }

    .color_@{index}.color_fg {
        color: @@color;
    }

    .color_@{index}.border {
        border-color: @@color;
    }

    .colorLooper(@index - 1);
}

.colorLooper(@index) when (@index = 0) {}

.colorLooper(8);
