@sans_serif:
    "Lucida Grande",
    "Segoe UI",
    "Calibri",
    "Tacoma",
    "Corbel",
    sans-serif;

@light_gray:    #eeeeee;
@lighter_gray:  #f4f4f4;
@light_text:    #aaaaaa;

@bg: @light_gray;
@fg: #333333;

@button_primary_bg: lighten(@tango_light_blue, 20%);

@tango_light_blue: #729fcf;
@tango_mid_orange: #f57900;

@button_border:         fade(black, 10%);
@button_hover_border:   fade(black, 20%);
@button_focus_border:   fade(black, 30%);

@button_hover_bg: darken(@tango_light_blue, 8%);

@button_bg: #eeeeee;
@button_fg: #444444;

@menu_bg: @header_bg;
@menu_fg: @header_fg;
@menu_separator_color: lighten(@header_bg, 8%);

@header_bg: #444;
@header_fg: @header_bg + #888;

@title_bg: #3a3a3a;
@title_fg: white;

@close_bg:          #aaaaaa;
@close_focus_bg:    #cccccc;

@tab_stripe_size: 6px;

@border_size: 1px;

@sidebar_size: 175px;
@column_size: 600px;

@tango_purple:  #75507b; // plum
@tango_red:     #cc0000; // scarlet red
@tango_green:   #4e9a06; // chameleon
@tango_yellow:  #edd400; // butter
@tango_blue:    #3465a4; // sky blue
@tango_orange:  #f57900; // orange
@tango_brown:   #c17d11; // chocolate
@tango_gray:    #babdb6; // aluminium

*,
*:before,
*:after {
    .border_box;
}

i {
    font-style: normal;
}

// Fix for fat buttons in Firefox
::-moz-focus-inner {
    margin: -1px;
    padding: 0;
    border: 0;
}

.elide {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dashed_border(@fade: 10%;) {
    border: 1px dashed fade(black, @fade);
}

.border_3d(@darkness: 0%) {
    border: 1px solid black;
    border-color:
        fade(black, ( 6% + @darkness))
        fade(black, (10% + @darkness))
        fade(black, (25% + @darkness))
        fade(black, (10% + @darkness));
}

.border_box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.appearance_none {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
}

.round(@r: 2px) {
    -webkit-border-radius: @r;
       -moz-border-radius: @r;
        -ms-border-radius: @r;
         -o-border-radius: @r;
            border-radius: @r;
}

.round_bottom(@r: 2px) {
    -webkit-border-bottom-left-radius:  @r;
    -webkit-border-bottom-right-radius: @r;
       -moz-border-bottom-left-radius:  @r;
       -moz-border-bottom-right-radius: @r;
        -ms-border-bottom-left-radius:  @r;
        -ms-border-bottom-right-radius: @r;
         -o-border-bottom-left-radius:  @r;
         -o-border-bottom-right-radius: @r;
            border-bottom-left-radius:  @r;
            border-bottom-right-radius: @r;
}

.circle {
    .round(100%);
}

.bold {
    font-weight: bold;
}

#navigation {
    .bold;
    // margin-top: -10px;

    padding: 0px;
    padding-top: 0px;
    padding-bottom: 0px;

    background: @menu_bg;
    color: @menu_bg;

    // margin-bottom: 1em;

    div,
    a {
        cursor: default;

        display: block;

        &.tab {
            color: @header_fg;
            text-transform: capitalize;

            &:hover {
                cursor: pointer;
            }

            &.selected {
                box-shadow: inset @tab_stripe_size 0px 0px @tango_green;
            }

            &:focus {
                outline: none;
            }
        }

        @pad: 10px;

        padding: @pad;

        padding-left: (@pad + @tab_stripe_size);

        text-decoration: none;
    }

    #nav_toggle {
        border-left: none;
    }
}

.placeholder {
    .bold;
    font-size: 150%;
    padding: 0.50em 1em;
    color: fade(black, 50%);
    display: inline-block;
}

.floaty_container {
    &.no_padding {
        padding: 0px;
    }

    .debt {
        text-align: left;
        .money {
            text-align: right;
        }
    }
}


#nav_toggle,
#title {
    font-size: 26px;

    padding-left: 10px;

    padding-top: 0px;

    color: @title_fg;
    background: @title_bg;

    i {
        color: @tango_green;
    }

    #nav_toggle_icon {
        color: #888;
    }
}

#login {
    font-size: 80%;
    margin-left: 0.50em;
    display: inline-block;
}

.main_margin {
    margin: 10px 0px;
}

.main_padding {
    padding: 10px 20px;
}

.floaty_container {
    .main_margin;
    .round;

    text-align: center;

    display: block;
    background: #fff;

    &.future {
        @bg: #eaeaea;
        border-color: darken(@bg, 4%);
        background: @bg;
    }

    position: relative;

    .border_3d(4%);

    padding: 4px 0px;
    padding-bottom: 6px;

    &.transient {
        .dashed_border;
        background: transparent;
    }
}

.standard_font {
    font-family: @sans_serif;
    font-size: 20px;
}

h1 {
    color: @light_text;

    text-align: left;
}

h1 {
    font-size: 100%;

    margin-top: 1em;
    margin-bottom: -0.30em;
}

html {
    .standard_font;

    background: @bg;
    color: @fg;

    padding: 0px;
    margin:  0px;
}

body {
    padding: 0px;
    margin:  0px;
}

#column_container {
    margin: 0px auto;
    text-align: left;

    text-align: center;
}

.column {
    text-align: center;

    margin: 0px 10px;

    & > * {
        max-width: @column_size;
        margin-left:  auto;
        margin-right: auto;
    }
}

table.summary {
    width: 100%;

    border-collapse: collapse;

    @border_style: solid;

    &:first-child {
        margin-top: 0px;
    }

    th,
    tr:not(:last-child) td {
        border-bottom: 1px @border_style @light_gray;
    }

    th {
        font-weight: bold;

        padding: 4px 14px;
        padding-bottom: 7px;

        text-align: center;
    }

    td {
        padding:         4px;
        padding-left:   10px;
        padding-right:  10px;

        text-align: left;
    }

    td div {
        padding-top:    3px;
        padding-bottom: 3px;
    }

    td.money {
        width: 7em;

        text-align: right;
        border-right: 1px @border_style @light_gray;
    }

    tbody tr:first-child td {
        padding-top: 8px;
    }

    tbody tr:last-child td {
        padding-bottom: 8px;
    }
}

.payment_item,
.expense_item {
    .floaty_container;

    text-align: left;

    padding: 10px;

    & > div > * {
        display: inline-block;
    }

    & > div:not(:first-child) {
        margin-top: 0.50em;
    }

    & > div {
        .elide;
    }

    .description {
        .elide;
        width: 65%;
    }

    .share_value {
        .elide;
        width: 35%;
        text-align: right;
    }
}

.clearfix {
    clear: both;
}

.money {
    font-weight: bold;
    text-align: right;
}

.right {
    text-align: right;
}

.color_left {
    padding-left: 1em;
}

.trivial_word {
    color: @light_text;
}

.stealth_edit {
    .border_3d(10%);
    .round(0);

    border-width: 1px;

    background: transparent;

    &:focus {
        .focus_outline;
        .border_3d(20%);
    }

    background: white;
}

.shares_paid {
    .round(1px);

    display: block;
    background: @lighter_gray;

    line-height: 0px;

    padding:    1px;
    margin:     0px;

    padding-right: 0px;

    border: 1px solid rgba(0, 0, 0, 0.05);
}

.share_paid {
    border: none;
    border-bottom: 6px solid transparent;

    background: transparent;

    width:  30px;
    height: 30px;

    padding:    0px;
    margin:     0px;

    margin-right: 1px;

    font-weight: bold;

    &:hover {
        background: rgba(0, 0, 0, 0.10);
        cursor: pointer;
    }

    &.true:hover {
        border-color: rgba(0, 0, 0, 0.25);
    }

    &:focus {
        .focus_outline;
    }
}

.focus_outline {
    outline: none;

    box-shadow: 0px 0px 0px 3px fade(@tango_blue, 20%);
}

.column form {
    .main_padding;

    text-align: left;

    label {
        color: @lighter_gray;
    }

    & > div {
        margin-bottom: 9px;
    }

    & > .button_group {
        margin-bottom: 0px;
    }

    font-size: 120%;

    select,
    input {
        .stealth_edit;
    }

    select {
        .appearance_none;
        .border_3d(3%);
        .round(4px);
        background: lighten(@light_gray, 4%);
    }

    select,
    input,
    button {
        padding: 4px;
        font-size: 100%;
        vertical-align: baseline;
    }

    button:focus {
        .focus_outline;
    }

    button {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    select:hover {
        cursor: pointer;
    }
}

button {
    background: @button_bg;
    color: @button_fg;

    .bold;

    padding: 6px;

    border: @border_size solid @button_border;
    .border_3d;

    font-size: 24px;

    text-transform: lowercase;

    .round;

    vertical-align: bottom;

    &:hover,
    &:focus {
        outline: none;
    }

    i {
        font-size: 16px;
    }
}

#nav_toggle_icon_parent {
    float: right;
}

#nav_toggle_text {
    float: left;
}

.button_group {
    text-align: center;

    padding: 9px;
    padding-bottom: 0px;
    margin-top: 9px;
    margin-bottom: 0px;

    border-top: 1px solid fade(black, 5%);

    margin-left:  -20px;
    margin-right: -20px;

    button {
        display: inline-block;
        width: 35%;
        margin: 0px 1px;
    }
}

.field {
    & > * {
        margin: 0px;
        display: inline-block;
    }

    & > :nth-child(1) {
        width: 20%;
    }

    & > :nth-child(2) {
        width: 70%;
    }
}

.stealth {
    width:  auto;
    height: 100%;

    padding: 0px;
    margin:  0px;

    margin-right: 8px;

    background: transparent;
    border: none;
    box-shadow: none;

    &,
    &:hover,
    &:focus {
        box-shadow: none;

        .delete {
            color: black;
        }
    }

    .delete {
        font-size: 16px;
        color: #ccc;
    }
}

button.add     { color: darken(@tango_green, 10%); background: fade(@tango_green, 35%); }
button.cancel  { color: darken(@tango_red,   10%); background: fade(@tango_red,   35%); }

button.add:hover     { color: darken(@tango_green, 5%); background: fade(@tango_green, 30%); }
button.cancel:hover  { color: darken(@tango_red,   5%); background: fade(@tango_red,   30%); }

button {
    &:hover {
        cursor: pointer;
    }
}

.form_toggle {
    .main_margin;

    color: @light_text;

    text-align: center;

    &,
    &:hover,
    &:focus {
        border: 1px dashed transparent;
        outline: none;
        background: transparent;
    }

    &:hover,
    &:focus {
        color: @fg;

        border-color: darken(@bg, 8%);
        background: fade(black, 2%);
    }

    padding: 8px 4px;

    font-size: 20px;
    font-weight: bold;

    width: 100%;
    margin-bottom: 0px;

    i {
        font-size: 16px;
    }
}

@media (max-width: 800px) {
    @import "narrow";
}

@media (min-width: 801px) {
    @import "wide";
}

@import "people";
@import "/icon-font/style.css";
