@sans_serif: "Lucida Grande", "Segoe UI", sans-serif;

@light_gray:    #eeeeee;
@lighter_gray:  #f4f4f4;
@light_text:    #aaaaaa;

@fg: #333333;

@button_bg:         #eee;
@button_primary_bg: lighten(@tango_light_blue, 20%);

@tango_light_blue: #729fcf;

@button_border:         fadeout(black, 90%);
@button_hover_border:   fadeout(black, 80%);
@button_focus_border:   fadeout(black, 70%);

@button_hover_bg: darken(@tango_light_blue, 0%);

@button_bg: darken(@tango_light_blue, 10%);
@button_fg: #fafafa;

@close_bg:          #aaaaaa;
@close_focus_bg:    #cccccc;

* {
    .border_box;
}

.border_box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.appearance_none {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
}

.firefox_hide_select_arrows {
    text-indent: 0.01px;
    text-overflow: '';
}

.round(@r: 2px) {
    -webkit-border-radius: @r;
    -moz-border-radius: @r;
    -ms-border-radius: @r;
    -o-border-radius: @r;
    border-radius: @r;
}

.circle {
    .round(100%);
}

#new_expense_hide {
    .circle;

    position: absolute;

    top:   10px;
    right: 8px;

    border: none;

    line-height: 0px;

    padding: 4px;
    margin:  0px;

    background: @close_bg;

    img {
        width:  10px;
        height: 10px;
    }

    &:focus,
    &:hover {
        background: @close_focus_bg;
        outline: none;
    }
}

#debts {
    // max-width: 400px;
    float: right;

    width: 40%;

    // border-left: 1px dashed rgba(0, 0, 0, 0.10);
}

#expenses {
    float: right;

    width: 60%;

    // border-right: 1px dashed rgba(0, 0, 0, 0.10);
}

.column {
}

.main_margin {
    margin: 10px 20px;
}

.main_padding {
    padding: 10px 20px;
}

.floaty_container {
    text-align: center;

    display: block;
    background: #fff;

    position: relative;

    .main_margin;

    border-radius: 2px;

    box-shadow:
        0px  1px 2px rgba(0, 0, 0, 0.25),
        0px  1px 0px rgba(0, 0, 0, 0.10),
        0px -1px 0px rgba(0, 0, 0, 0.02);

    padding: 4px 0px;
    padding-bottom: 6px;

    &.transient {
        background: rgba(0, 0, 0, 0.02);

        // border-radius: 0px;

        border: 1px dashed rgba(0, 0, 0, 0.10);

        box-shadow: none;
    }
}

.standard_font {
    font-family: @sans_serif;
    font-size: 16px;
}

h1 {
    color: @light_text;

    text-align: center;
}

h1 {
    font-size: 100%;

    margin-top: 1em;
    margin-bottom: -0.30em;
}

html {
    .standard_font;

    background: @light_gray;
    color: @fg;

    padding: 10px;
    margin:   0px;
}

body {
    margin: 0px auto;
    text-align: left;

    max-width: 800px;
}

table.summary {
    width: 100%;

    border-collapse: collapse;

    margin-top: 10px;

    &:first-child {
        margin-top: 0px;
    }

    th,
    tr:not(:last-child) td {
        border-bottom: 1px solid @light_gray;
    }

    th {
        font-weight: bold;

        padding: 4px 14px;
        padding-bottom: 7px;

        text-align: center;
    }

    td {
        padding:         0px;
        padding-left:    1px;
        padding-right:  10px;

        text-align: left;
    }

    td div {
        padding-top:    3px;
        padding-bottom: 3px;
    }

    td.money {
        width: 7em;

        text-align: right;
    }

    tbody tr:first-child td {
        padding-top: 1px;
    }
}

.expense_item {
    .floaty_container;

    text-align: left;

    padding: 10px;

    & > div > * {
        display: inline-block;
    }

    .description {
        width: 75%;
    }

    .share_value {
        width: 25%;
        text-align: right;
    }
}

.clearfix {
    clear: both;
}

.money {
    font-weight: bold;
    text-align: right;
}

.right {
    text-align: right;
}

.share_value {
}

.color_left {
    padding-left: 1em;
}

.trivial_word {
    color: @light_text;
}

.stealth_edit {
    .standard_font;

    border: none;
    border-bottom: 1px solid transparent;
    padding: 3px 0px;
    font-family: @sans_serif;
    background: transparent;

    &:focus {
        outline: none;
        border-color: #ccc;
    }
}

.shares_paid {
    display: inline-block;
    float: right;
    background: @lighter_gray;

    border-radius: 1px;

    line-height: 0px;

    padding:    1px;
    margin:     0px;

    padding-right: 0px;

    border: 1px solid rgba(0, 0, 0, 0.05);
}

.share_paid {
    border: none;
    border-bottom: 6px solid transparent;

    background: transparent;

    width:  30px;
    height: 30px;

    padding:    0px;
    margin:     0px;

    margin-right: 1px;

    font-weight: bold;

    &:hover {
        background: rgba(0, 0, 0, 0.10);
        cursor: pointer;
    }

    &.true:hover {
        border-color: rgba(0, 0, 0, 0.25);
    }

    &:focus {
        .focus_outline;
    }
}

.focus_outline {
    outline: none;

    box-shadow: 0px 2px 0px black;
}

#expense_form {
    .main_padding;

    text-align: left;

    label {
        color: @lighter_gray;
    }

    & > div {
        margin-bottom: 9px;
    }

    font-size: 120%;

    select,
    input {
        .appearance_none;

        border: none;
        box-shadow: 0px 2px 0px fadeout(black, 80%);

        background: transparent;

        border-radius: 0px;

        &:focus {
            .focus_outline;
        }

        &:hover:not(:focus) {
            box-shadow: 0px 0px 0px 2px fadeout(black, 80%);
        }

        &:hover,
        &:focus {
            background: @lighter_gray;
            box-shadow: 0px 0px 0px 2px fadeout(black, 60%);
            // .round;
        }
    }

    select,
    input,
    button {
        padding: 6px;
        font-size: 100%;
        vertical-align: baseline;
    }

    button:not(.close) {
        background: @button_bg;
        color:      @button_fg;

        border: 2px solid @button_border;

        text-transform: lowercase;

        .round;

        vertical-align: bottom;

        &:hover,
        &:focus {
            outline: none;
            background: @button_hover_bg;
        }

        &:hover {
            border-color: @button_hover_border;
        }

        &:active,
        &:focus {
            border-color: @button_focus_border;
        }
    }

    // Hack to hide arrows in Firefox
    select {
        .firefox_hide_select_arrows;

        &:hover {
            cursor: pointer;
        }
    }

    input.price {
        width: 5em;
    }
}

#add_button                 { width: 20%; }
#new_expense_description    { width: 75%; }

#add_button {
    float: right;
}

button {
    &:hover {
        cursor: pointer;
    }
}

.form_toggle {
    background: transparent;
    border: none;

    text-align: center;

    color: @light_text;

    &:hover {
        cursor: pointer;
    }

    &:hover,
    &:focus {
        text-decoration: underline;
        outline: none;
    }

    padding: 8px 4px;

    width: 100%;
    margin: 0px;
}
