<div id="debts" class="column" data-bind="visible: currentTab() === 'debts'">
    <div class="floaty_container no_padding">
        <table class="summary">
            <tbody data-bind="foreach: debtsPositive">
                <tr class="debt">
                    <td class="money" data-bind="text: formattedCurrency(amount)"></td>
                    <td>
                        <span class="payee" data-bind="css: 'color_' + from, text: $root.nameForId(from)"></span>
                        <span class="trivial_word">&rarr;</span>
                        <span class="payee" data-bind="css: 'color_' + to, text: $root.nameForId(to)"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
