<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>$ sharing</title>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/knockout/2.3.0/knockout-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="js/util.js"></script>
<script src="js/ExpenseForm.js"></script>
<script src="js/Root.js"></script>
<script src="js/main.js"></script>
<link rel="stylesheet" href="css/style.css">
