* {
  box-sizing: border-box;
}
#debts {
  float: right;
  width: 40%;
}
#expenses {
  float: right;
  width: 60%;
}
.column {
  margin-top: 30px;
}
.main_margin {
  margin: 10px 20px;
}
.floaty_container {
  text-align: center;
  display: block;
  background: #fff;
  margin: 10px 20px;
  border-radius: 2px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25), 0px 1px 0px rgba(0, 0, 0, 0.1), 0px -1px 0px rgba(0, 0, 0, 0.02);
  padding: 4px 0px;
  padding-bottom: 6px;
}
.standard_font {
  font-family: "Lucida Grande", "Segoe UI", sans-serif;
  font-size: 16px;
}
.embossed_text {
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
}
h1,
h2 {
  color: #aaaaaa;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
  text-align: center;
}
h2 {
  font-size: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
}
html {
  font-family: "Lucida Grande", "Segoe UI", sans-serif;
  font-size: 16px;
  background: #eeeeee;
  color: #333333;
  padding: 10px;
  margin: 0px;
}
body {
  margin: 0px auto;
  text-align: left;
  max-width: 800px;
}
table.summary {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
table.summary:first-child {
  margin-top: 0px;
}
table.summary th,
table.summary tr:not(:last-child) td {
  border-bottom: 1px solid #eeeeee;
}
table.summary th {
  font-weight: bold;
  padding: 4px 14px;
  padding-bottom: 7px;
  text-align: center;
}
table.summary td {
  padding: 0px;
  padding-left: 1px;
  padding-right: 10px;
  text-align: left;
}
table.summary td div {
  padding-top: 3px;
  padding-bottom: 3px;
}
table.summary td.money {
  width: 4em;
  text-align: right;
}
table.summary tbody tr:first-child td {
  padding-top: 1px;
}
.description {
  width: 100%;
}
.expense_item {
  text-align: center;
  display: block;
  background: #fff;
  margin: 10px 20px;
  border-radius: 2px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25), 0px 1px 0px rgba(0, 0, 0, 0.1), 0px -1px 0px rgba(0, 0, 0, 0.02);
  padding: 4px 0px;
  padding-bottom: 6px;
  text-align: left;
  padding: 10px;
}
.clearfix {
  clear: both;
}
.paid_by {
  width: 7em;
}
.money {
  font-weight: bold;
  text-align: right;
}
.right {
  text-align: right;
}
.share_value {
  float: right;
}
.color_left {
  padding-left: 1em;
}
.trivial_word {
  color: #aaaaaa;
}
.stealth_edit {
  font-size: 16px;
  border: none;
  border-bottom: 1px solid transparent;
  padding: 3px 0px;
  font-family: "Lucida Grande", "Segoe UI", sans-serif;
  background: transparent;
}
.stealth_edit:focus {
  outline: none;
  border-color: #ccc;
}
.shares_paid {
  display: inline-block;
  float: right;
  background: #f4f4f4;
  border-radius: 1px;
  line-height: 0px;
  padding: 1px;
  margin: 0px;
  padding-right: 0px;
  border: 1px solid rgba(0, 0, 0, 0.05);
}
.share_paid {
  border: none;
  border-bottom: 6px solid transparent;
  background: transparent;
  width: 30px;
  height: 30px;
  padding: 0px;
  margin: 0px;
  margin-right: 1px;
  font-weight: bold;
}
.share_paid:hover {
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.share_paid.true:hover {
  border-color: rgba(0, 0, 0, 0.25);
}
.share_paid:focus {
  outline: none;
  box-shadow: 0px 0px 0px 3px rgba(114, 159, 207, 0.5);
  border-color: rgba(0, 0, 0, 0.5);
}
.focus_outline {
  outline: none;
  box-shadow: 0px 0px 0px 3px rgba(114, 159, 207, 0.5);
  border-color: rgba(0, 0, 0, 0.5);
}
#expense_form {
  margin: 10px 20px;
}
#expense_form label {
  color: #f4f4f4;
}
#expense_form > div {
  margin-bottom: 9px;
}
#expense_form select,
#expense_form input {
  padding: 6px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom-color: rgba(0, 0, 0, 0.4);
  background: white;
  border-radius: 0px;
}
#expense_form select:focus,
#expense_form input:focus {
  outline: none;
  box-shadow: 0px 0px 0px 3px rgba(114, 159, 207, 0.5);
  border-color: rgba(0, 0, 0, 0.5);
}
.button_group {
  text-align: center;
}
.button_group button {
  min-width: 6em;
  padding: 0.40em 0.90em;
  padding-bottom: 0.50em;
  background: #f8f8f8;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom-color: rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  font-weight: bold;
}
.button_group button.primary {
  background: #d8d8d8;
  border-bottom-color: rgba(0, 0, 0, 0.3);
}
button:hover {
  cursor: pointer;
}
button:focus {
  outline: none;
  box-shadow: 0px 0px 0px 3px rgba(114, 159, 207, 0.5);
  border-color: rgba(0, 0, 0, 0.5);
}
.form_toggle {
  background: transparent;
  border: none;
  text-align: center;
  color: #aaaaaa;
}
.form_toggle:hover {
  cursor: pointer;
}
h1 {
  text-align: center;
  margin: 0px;
  font-size: 160%;
}
